/*
* @Author: ameng
* @Date:   2016-04-22 09:50:34
* @Last Modified by:   ameng
* @Last Modified time: 2016-05-10 21:35:24
*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
@media print {
  .container {
    width: auto;
  }
}
body{font: 14px/24px "Oxygen",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;background:#ffffff url("images/body-bg.png") no-repeat center top;}
ul,li{margin:0;padding:0;}
a{color:#555555;}/*white-space: nowrap;overflow: hidden;  text-overflow: ellipsis;*/
a:hover{color:#ff0000;text-decoration: none;}
.fl{float:left;}.fr{float:right;}.md{margin-left:15px;}.cl10{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 10px;}
.m-b-15{margin-bottom: 15px;}
.xq{color:#0094d2;}
.xq:hover{color:red;}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer , .list.lh24.f14{
       cursor: pointer;
}

/*首页*/
.banner{height:200px;background:url("images/main.png") no-repeat right top;}
.banner a{display:block;width:621px;height:87px;padding-top:60px;}
/*导航*/
.nav-daohang{height: 60px;background: #0094d2;border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px}
.nav-con{width: 1000px;margin:0 auto;}
.nav-con ul{padding:0;}
.nav-con ul li{width: 110px;line-height: 60px; float:left;list-style: none;text-align: center;}
.nav-con ul li:hover a{text-shadow: 0px 0px 20px #ffffff;color:#ff0000;}
.nav-con ul li a{color:#ffffff;font-size:18px;}

.huandeng{
	width:350px;
	height:250px;
}
/* 焦点图 */
.focusBox { float: left; position: relative; width: 350px; height: 250px;  overflow: hidden; font-family:Arial; text-align: left; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
.focusBox .pic img { width: 350px; height: 250px; display: block; position:absolute; top:0px;}
.focusBox .txt-bg { position: absolute; bottom: 0; z-index: 1; height: 36px; width:100%;  background: #000; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; }
.focusBox .txt { position: absolute; bottom: 0; z-index: 2; height: 36px; width:100%; overflow: hidden; }
.focusBox .txt li{ height:36px; line-height:36px; position:absolute; bottom:-36px;}
.focusBox .txt li a{ display: block; color: white; padding: 0 0 0 10px; font-size: 13px; font-weight: bold; text-decoration: none; }
.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 8px; }
.focusBox .num li{ float: left; position: relative; width: 22px; height: 20px; line-height: 20px; overflow: hidden; text-align: center; margin-right: 1px; cursor: pointer; }
.focusBox .num li a,.focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; }
.focusBox .num li span { z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5; }
.focusBox .num li.on a,.focusBox .num a:hover{ background:#0094D2;  }
.news{
	width:430px;
	height:250px;
	margin-left:10px;
}
.gonggao{
	width:200px;
	height:250px;
	overflow-y: hidden;
}
.houping{
	width:205px;
	height:270px;
}
.zhengwugongkai{
	margin-left:10px;	
}
.xiaokangchuangjian,.zhengwugongkai{
	width:387px;
	height:270px;	
}
.tel{
	width:205px;
	height:268px;
}
.houpingfengguang{
	width:1000px;
	height:220px;
}
.links{
	width:1000px;
	min-height:120px;
}
.list-ul li a{
	display:list-item;
	list-style:inside square;
	list-style-type: disc;
	white-space: nowrap;overflow: hidden; text-overflow: ellipsis;
}
.list-ul li{
	list-style: none;
}
.news .list-ul .pull-left{
	width:338px;
}
.list-ul .pull-right{
	width:50px;
	text-align: right;
}
.gonggao li{
	height:24px; line-height:24px; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;
}
.gonggao li time{
	color:#999;
	margin-right:5px;
}
.gonggao li a{
}
.panel-body{
	overflow: hidden;
}
.zhengwugongkai .list-ul li a,.xiaokangchuangjian .list-ul li a{
	width:355px;
	height:24px;
}
.h2-font{
	font-size: 18px;
	margin:0;
	padding:0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	height:250px;
}
/* 图片滚动 */
.picScroll{ position:relative;  height:154px; padding: 0px 0 10px 35px;  background:#fff; margin-bottom:10px; overflow:hidden;   }
.picScroll ul{ overflow:hidden; zoom:1; }
.picScroll ul li{ float:left; margin: 0 5px;  width:170px; overflow:hidden; display:inline; text-align: center;}
.picScroll ul li img{ width:170px; height:124px; }
.picScroll .prev,
.picScroll .next{ position:absolute;  left:0px; top: 60px; display:block; width:18px; height:28px; overflow:hidden; background:url(images/icons.png) -40px 0 no-repeat; cursor:pointer;  }
.picScroll .next{ left:auto; right:0px; background-position:-120px 0; }
.picScroll .prevStop{ background-position:0 0; }
.picScroll .nextStop{ background-position:-80px 0; }
.footer{
	width:1000px;
	margin:0 auto;
	margin-top:20px;
	padding:20px;
}
.footer .text-center a{
	color:#ffffff;
}